<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {# {{ }} => variable name #}
    <title>{{ name }}'s Watchlist</title>
</head>
<body>
    <h2>{{ name }}'s Watchlist</h2>
    {# use length filter to get length of movies#}
    <p>{{ movies|length }} Titles</p>
    <ul>
        {# {% %} => sentence (if else endif; for; ...)#}
        {% for movie in movies %}  {# for sentence#}
        <li>{{ movie.title }} - {{ movie.year }}</li> {# list of the movies#}
        {% endfor %}  {# endfor#}
    </ul>
    <footer>
        <small>&copy; 2018 <a href="/hello">Hello Message</a></small>
    </footer>
</body>
</html>
